@{
    ViewData["Title"] = "Raporlar";
}

<h2>📊 Raporlar</h2>

<div class="card p-3">

    <p><b>Toplam Ürün:</b> @ViewBag.TotalProducts</p>
    <p><b>Toplam Kategori:</b> @ViewBag.TotalCategories</p>
    <p><b>Toplam Sipariş:</b> @ViewBag.TotalOrders</p>
    <p><b>Toplam Ciro:</b> @ViewBag.TotalRevenue ₺</p>

</div>