<h2 class="mb-4">Profil Sayfası</h2>

<div class="card p-4"
     style="max-width:500px;">

    <h4>Kullanıcı Bilgileri</h4>

    <hr />

    <p>
        <strong>Kullanıcı Adı:</strong>
        @ViewBag.Username
    </p>

    <p>
        <strong>Email:</strong>
        @ViewBag.Email
    </p>

    <p>
        <strong>Rol:</strong>
        @ViewBag.Role
    </p>

</div>